
.btn {
	display: inline-block;
	min-height: 50px;
	background: $main-green-color;
	border: none;
	border-radius: 6px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
	padding: 0 30px;
	font-size: 16px;
	text-transform: uppercase;
	color: $main-white-color;
	@include main-font();
	font-weight: 700;
	letter-spacing: 0.4px;
	@include transition( box-shadow, $animation-time, 0 );

	&:hover {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	}
}

@media (min-width: $tablet-landscape) {


	.btn {
		display: inline-block;
		min-height: 50px;
		background: $main-green-color;
		border: none;
		border-radius: 6px;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
		padding: 0 30px;
		font-size: 16px;
		text-transform: uppercase;
		color: $main-white-color;
		@include main-font();
		font-weight: 700;
		letter-spacing: 0.4px;
		@include transition( box-shadow, $animation-time, 0 );

		&:hover {
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
		}
	}
}


