$main-green-color: #00ce7a;
$main-white-color: #fff;
$main-black-color: #000;
$main-text-color: #576a7e;
$main-title-color: #333;
$main-border-color: #ddd;

//site
$site-background: #fff;
$footer-bg: #fff;

