.connect-us {
	position: relative;
	@include blockCentered();
	max-width: 920px;
	margin-bottom: 120px;
	padding: 100px 15px 0;

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 6px;
		background-image: linear-gradient(291deg, #e7e8ee, #c9cbd7);
		content: '';
	}
	&__title {
		position: relative;
		margin-bottom: 50px;
		text-align: center;
		font-size: 36px;
		letter-spacing: 10px;
		color: $main-title-color;
		text-transform: uppercase;
		@include title-font();

		span {
			display: block;
			margin-bottom: 50px;

			&:before,
			&:after {
				display: inline-block;
				vertical-align: top;
				width: 30px;
				height: 30px;
				margin: 0 15px;
				border-radius: 50%;
				background: $main-white-color;
				box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
				content: '';
			}
		}

	}
	&__form {
		position: relative;

		input {
			font-size: 22px;
			@include main-font();
		}

		.btn {
			width: 100%;
			min-height: 70px;
			font-size: 22px;
		}
	}
}

@media (min-width: $tablet-portrait) {


}


