
.pictures {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;

	&__item {
		width: 33.333%;
		height: 38.9vw;
		background-size: cover;
		background-position: center;
	}
}

@media (min-width: $tablet-landscape) {

	.pictures {
		margin-bottom: 115px;

		&__item {
			height: 37.7vw;
		}
	}
}

@media (min-width: $desktop) {

	.pictures {
		display: flex;
		justify-content: space-between;
		margin-bottom: 120px;

		&__item {
			width: 33.333%;
			height: 37.7vw;
			background-size: cover;
			background-position: center;
		}
	}
}


