
.prices {
	margin-bottom: 78px;

	.site__title {
		margin-bottom: 10px;
	}
}

@media (min-width: $tablet-landscape) {

	.prices {
		margin-bottom: 116px;

		.site__title {
			margin-bottom: 33px;
		}
	}

}

@media (min-width: $desktop) {

	.prices {
		margin-bottom: 116px;

		.site__title {
			margin-bottom: 32px;
		}
	}

}


