
.problems {
	margin-bottom: 60px;

	&__list {

	}
	&__item {
		position: relative;
		margin-bottom: 35px;
	}
	&__item-icon {
		position: absolute;
		width: 80px;
		height: 100%;
		top: 0;
		left: 0;
		background-size: contain;
		background-repeat: no-repeat;
	}
	&__item-wrap {
		position: relative;
		padding-left: 121px;
	}
	&__item-title {
		margin-bottom: 30px;
		font-size: 22px;
		font-weight: 700;
	}
	&__item-text {

	}
}

@media (min-width: $tablet-portrait) {


}


