
.problems {
	margin-bottom: 78px;

	&__list {

	}
	&__item {
		position: relative;
		max-width: 530px;
		margin-bottom: 26px;
		padding-right: 10px;
	}
	&__item-icon {
		position: relative;
		display: block;
		width: 62px;
		height: 68px;
		top: -2px;
		left: -8px;
		margin-bottom: -5px;
		background-size: contain;
		background-repeat: no-repeat;

		&_star {
			width: 60px;
			height: 88px;
			top: 4px;
		}
		&_target {
			width: 60px;
			top: -1px;
		}
	}
	&__item-wrap {

	}
	&__item-title {
		margin-bottom: 6px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0;
	}
}

@media (min-width: $tablet-landscape) {

	.problems {
		margin-bottom: 116px;

		&__list {

		}
		&__item {
			max-width: 540px;
			margin-bottom: 30px;
		}
		&__item-icon {
			position: absolute;
			width: 120px;
			height: 100%;
			top: -4px;
			left: -20px;
			margin-bottom: 0;
		}
		&__item-wrap {
			position: relative;
			padding-left: 121px;
		}
		&__item-title {
			margin-bottom: 9px;
			font-size: 22px;
		}
	}

}

@media (min-width: $desktop) {

	.problems {
		margin-bottom: 116px;
	}

}


