.road {
	display: none;
}

@media (min-width: $tablet-landscape) {

	.road {
		position: absolute;
		display: block;
		top: -44px;
		left: 0;
		width: 100%;

		svg {
			width: 100%;
		}
	}
}

@media (min-width: $desktop) {

	.road {
		position: absolute;
		top: -152px;
		left: 0;
		width: 100%;

		svg {
			width: 100%;
		}
	}
}


