
.site {
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100%;
  background-image: linear-gradient(126deg, #dddcdc, #e8e8e8 46%, #f4f4f4);
  font-size: 14px;
  line-height: 1.86;
  color: $main-text-color;
  @include main-font();

  &__header {
    position: relative;
    z-index: 3;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin-bottom: 13px;

    .btn {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      border-radius: 0;
      @include transition( transform, $animation-time, 0 );

      &.hide {
        -webkit-transform: translateY( 100% );
        transform: translateY( 100% );
      }
    }
  }
  &__footer {
    background-image: linear-gradient(80deg, #d7d8d9, #dddedf);

    .logo {
      display: none;
    }
  }
  &__footer-centered {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 28px;
    padding-top: 25px;
  }
  &__footer-copyrights {
    order: 3;
    font-size: 14px;
  }
  &__footer-info {
    display: flex;
    flex-flow: column;
    order: 2;
    margin-bottom: 27px;

    a {
      order: 2;
      position: relative;
      display: inline-block;
      font-size: 16px;
      line-height: 1;
      color: $main-green-color;
      font-weight: 700;
    }
    p {
      order: 1;
      position: relative;
      font-size: 16px;
      letter-spacing: 0;
      padding-left: 5px;
      line-height: 1.88;
    }
  }
  &__centered {
    position: relative;
    z-index: 1;
    padding: 0 15px;
  }
  &__content {
    position: relative;
    z-index: 1;
  }

  &__aside {
    display: none;
  }
  &__title {
    max-width: 275px;
    margin-bottom: 31px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.2;
    color: $main-title-color;
    text-transform: uppercase;
    @include title-font();

    &_big {
      margin-bottom: 30px;
      font-size: 30px;
      letter-spacing: 8px;
    }
  }
  &__text {
    max-width: 690px;
    margin-bottom: 26px;
    padding-right: 20px;
    letter-spacing: 0.1px;

  }
}
@media (min-width: $tablet-landscape) {
  .site {
    font-size: 16px;
    line-height: 1.88;
    background-image: linear-gradient(101deg, #dddcdc, #e8e8e8 46%, #f4f4f4);

    &:after {
      display: block;
      width: 100%;
      height: 312px;
      clear: both;
      content: '';
    }

    &__header {
      height: 161px;
      align-items: center;
      justify-content: flex-end;
      padding: 0 56px 0 28px;
      margin-bottom: 86px;

      .btn {
        position: static;
        width: auto;
        border-radius: 6px;
        letter-spacing: -0.1px;
      }
      .logo {
        position: fixed;
        left: 27px;
        top: 52px;
      }
    }

    &__footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      .logo {
        display: block;
        top: 0;
      }
    }
    &__footer-centered {
      justify-content: space-between;
      flex-flow: row;
      height: 281px;
      margin: 0 15px;
      padding: 0 15px;
    }
    &__footer-copyrights {
      position: relative;
      order: 2;
      top: -3px;
      font-size: 16px;
    }
    &__footer-info {
      display: block;
      min-width: 0;
      order: 3;
      margin-bottom: 0;
      justify-content: flex-start;
      padding-right: 18px;
      padding-top: 3px;

      a {
        position: relative;
        order: 1;
        font-size: 23px;
        letter-spacing: -0.6px;

        &:after {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          right: 0;
          bottom: -2px;
          left: 0;
          height: 1px;
          background: $main-green-color;
          -webkit-transform: translateY(4px);
          transform: translateY(4px);
          @include transition(all, $animation-time, 0);
          content: '';
        }
        &:hover {

          &:after {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
      }
      p {
        position: relative;
        top: -1px;
        left: -6px;
        font-size: 22px;
        line-height: 2.33;
        letter-spacing: -0.1px;
      }
    }

    &__centered {
      margin: 0 15px;
      padding: 0 15px 0 266px;
    }

    &__aside {
      display: block;
      position: fixed;
      z-index: 2;
      left: 28px;
      width: 240px;
      padding-top: 3px;
    }
    &__title {
      max-width: 690px;
      margin-bottom: 51px;
      font-size: 40px;
      letter-spacing: 7.9px;
      line-height: 1.2;
      color: $main-title-color;
      text-transform: uppercase;
      @include title-font();

      &_big {
        margin-bottom: 46.5px;
        font-size: 56px;
        letter-spacing: 16px;
      }
    }
    &__text {
      margin-bottom: 30px;
      letter-spacing: 0.2px;
      padding-right: 0;
    }
  }
}
@media (min-width: $desktop) {

  .site {

    &__header {
      padding: 0 140px;

      .logo {
        position: fixed;
        top: 51px;
        left: 140px;
      }
    }
    &__footer-centered {
      height: 312px;
      margin: 0 126px;
      padding: 0 15px 26px;
    }
    &__footer-copyrights {
      min-width: 351px;
    }
    &__footer-info {
      min-width: 319px;
      padding-right: 0;
      padding-top: 0;
      margin-bottom: 5px;

      a {
        font-size: 22px;
        letter-spacing: 0;
      }
      p {
        top: -1px;
        line-height: 1.83;
      }
    }

    &__centered {
      margin: 0 140px;
      padding: 0 15px 0 360px;
    }

    &__aside {
      left: 140px;
      width: 330px;
    }
    &__title {

      &_big {
        margin-bottom: 47.5px;
      }
    }
  }
}


