
.solution {
	margin-bottom: 51px;

	&__list {
		padding-top: 4px;
		counter-reset: list
	}
	&__item {
		position: relative;
		max-width: 560px;
		margin-bottom: 38px;
	}
	&__item-number {
		display: block;
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-bottom: 26px;
		background-color: $main-white-color;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

		&:after {
			position: absolute;
			top: -10px;
			right: 0;
			font-size: 45px;
			line-height: 1;
			color: $main-green-color;
			text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			@include main-font();
			font-weight: 700;
			counter-increment: list;
			content: counter(list) '';
		}
	}
	&__item-wrap {
		padding-left: 3px;
		padding-right: 11px;
	}
	&__item-title {
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 1.38;
		font-weight: 700;
		letter-spacing: 0;
	}
	&__item-text {

	}
}

@media (min-width: $tablet-landscape) {

	.solution {
		margin-bottom: 120px;

		&__list {
			padding-top: 6px;
		}
		&__item {
			margin-bottom: 35px;
		}
		&__item-number {
			position: absolute;
			top: 10px;
			left: 1px;
			width: 80px;
			height: 80px;

			&:after {
				position: absolute;
				top: -19px;
				font-size: 87px;
				text-shadow: 0 2.5px 5px rgba(0,0,0,0.2);
				font-weight: 700;
			}
		}
		&__item-wrap {
			position: relative;
			padding-left: 120px;
		}
		&__item-title {
			margin-bottom: 15px;
			letter-spacing: 0;
		}
		&__item-text {

		}
	}

}

@media (min-width: $desktop) {

	.solution {
		margin-bottom: 120px;

		&__list {
			padding-top: 1px;
			counter-reset: list
		}
		&__item {
			position: relative;
			max-width: 560px;
			margin-bottom: 30px;
		}
		&__item-number {
			position: absolute;
			top: 15px;
			left: 1px;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: $main-white-color;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

			&:after {
				position: absolute;
				top: -19px;
				right: 0;
				font-size: 87px;
				line-height: 1;
				color: $main-green-color;
				text-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
				@include main-font();
				font-weight: 700;
				counter-increment: list;
				content: counter(list) '';
			}
		}
		&__item-wrap {
			position: relative;
			padding-left: 120px;
		}
		&__item-title {
			margin-bottom: 9px;
			font-size: 22px;
			font-weight: 700;
			letter-spacing: 1.2px;
		}
		&__item-text {

		}
	}

}


